imports:
    - { resource: services/dev/index.yaml }
# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name


    Iam\Delivery\Http\Controller\:
        resource: '../src/Delivery/Http/Controller/'
        tags: [ 'controller.service_arguments' ]

    Iam\Delivery\Console\ConsumeEventsCommand:
        tags: [ 'console.command' ]