.ui-link {
    color: var(--p-primary-color);
    text-decoration: none;

    &:hover {
        color: var(--p-primary-hover-color);
    }
}

a {
    color: var(--p-primary-color);
    text-decoration: none;

    &:hover {
        color: var(--p-primary-hover-color);
    }
}

.ui-text-primary {
    color: var(--p-primary-color);
}

.bg-xl {
    background-color: var(--p-rose-400)
}

.bg-lg {
    background-color: var(--p-green-400)
}